{% macro form(payload) %}
    <div class="card" style="width: 700px">
        <div class="card-header">Register torrent</div>
        <div class="card-body">
            <form>
                <div class="form-group row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Optional">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea rows="3" name="desc" class="form-control" id="description" placeholder="Optional"></textarea>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="file" class="col-sm-2 col-form-label">Torrent</label>
                    <div class="col-sm-10">
                        <input type="file" name="file" class="form-control-file" id="file" required>
                    </div>
                </div>
                <div class="form-group row mr-3" style="float: right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}
