{# Alert #}
{% macro alert(alert) %}
    {% if alert.type === 'warning' %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-warning d-flex align-items-center justify-content-between" role="alert">
            <div class="d-flex">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>{{ alert.msg }}</div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif alert.type === 'info' %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
        </svg>
        <div class="alert alert-primary d-flex align-items-center justify-content-between" role="alert">
            <div class="d-flex">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>{{ alert.msg }}</div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif alert.type === 'success' %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center justify-content-between" role="alert">
            <div class="d-flex">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>{{ alert.msg }}</div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif alert.type === 'error' %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
            <div class="d-flex">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>{{ alert.msg }}</div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endmacro %}

{# Identify #}
{% macro identify(errors) %}
    <form action="/" method="post" class="row g-3 needs-validation" novalidate>
        <div class="input-group mb-3">
            <input id="email" type="email" name="email" class="form-control {{ 'is-invalid' if errors.email }}" placeholder="Email" aria-label="Email" aria-describedby="submitbtn" required>
            <button id="submitbtn" class="btn btn-outline-light fix-rounded-right" type="submit">Next</button>
            <div class="invalid-feedback">
                {{ errors.email if errors.email else 'Provide a valid email.' }}
            </div>
        </div>
    </form>
{% endmacro %}

{# Register #}
{% macro register(email, errors) %}
    <form action="/register" method="post" class="row g-3 needs-validation" novalidate>
        {# Email #}
        <div class="mb-3 row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input id="email" name="email" type="email" class="form-control {{ 'is-invalid' if errors.email }}" value="{{ email }}" readonly>
                <div class="invalid-feedback">
                    {{ errors.email if errors.email else 'Provide a valid email.' }}
                </div>
            </div>
        </div>
        {# Username #}
        <div class="mb-3 row">
            <label for="uname" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
                <input id="uname" name="uname" type="text" class="form-control {{ 'is-invalid' if errors.uname }}" placeholder="Username" required>
                <div class="invalid-feedback">
                    {{ errors.uname if errors.uname else 'Please choose a username.' }}
                </div>
            </div>
        </div>
        {# Password #}
        <div class="mb-3 row">
            <label for="pass" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
                <input id="pass" name="pass" type="password" class="form-control {{ 'is-invalid' if errors.pass }}" placeholder="New Password" required>
                <div class="invalid-feedback">
                    {{ errors.pass if errors.pass else 'Provide a valid password.' }}
                </div>
            </div>
        </div>
        {# Confirm Password #}
        <div class="mb-3 row">
            <label for="cpass" class="col-sm-4 col-form-label">Confirm</label>
            <div class="col-sm-8">
                <input id="cpass" name="cpass" type="password" class="form-control {{ 'is-invalid' if errors.cpass }}" placeholder="Repeat Password" required>
                <div class="invalid-feedback">
                    {{ errors.cpass if errors.cpass else 'Provide a valid password.' }}
                </div>
            </div>
        </div>
        {# hCaptcha #}
        <div class="mb-3 row" style="text-align: center">
            <div class="h-captcha" data-sitekey="6b5f6291-e12d-4149-a768-fc300e56b8de" data-theme="dark"></div>
        </div>
        {# Buttons #}
        <div class="mb-3 row">
            <div>
                <a href="/" class="btn btn-outline-light" style="float: left;">Back</a>
                <button type="submit" class="btn btn-outline-primary" style="float: right;">Register</button>
            </div>
        </div>
    </form>
{% endmacro %}

{# Login #}
{% macro login(email, hcaptcha, activation, errors) %}
    <form action="/login" method="post" class="row g-3 needs-validation" novalidate>
        {# Email #}
        <div class="mb-3 row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input id="email" name="email" type="email" class="form-control {{ 'is-invalid' if errors.email }}" value="{{ email }}" readonly>
                <div class="invalid-feedback">
                    {{ errors.email if errors.email else 'Provide a valid email.' }}
                </div>
            </div>
        </div>
        {# Password #}
        <div class="mb-3 row">
            <label for="pass" class="col-sm-4 col-form-label">{{ 'Code' if activation else 'Password' }}</label>
            <div class="col-sm-8">
                <input id="pass" name="pass" type="{{ 'text' if activation else 'password' }}" class="form-control {{ 'is-invalid' if errors.pass }}" placeholder="{{ 'Activation code' if activation else 'Password' }}" required>
                <div class="invalid-feedback">
                    {{ errors.pass if errors.pass else 'Field is required.' }}
                </div>
                <a href="/resend/{{ email }}" class="btn btn-link btn-sm">{{ 'Resend activation code' if activation else 'Forgot password?' }}</a>
            </div>
        </div>
        {% if hcaptcha %}
        {# hCaptcha #}
        <div class="mb-3 row" style="text-align: center">
            <div class="h-captcha" data-sitekey="6b5f6291-e12d-4149-a768-fc300e56b8de" data-theme="dark"></div>
        </div>
        {% endif %}
        {# Buttons #}
        <div class="mb-3 row">
            <div>
                <a href="/" class="btn btn-outline-light" style="float: left;">Back</a>
                <button type="submit" class="btn btn-outline-primary" style="float: right;">Enter</button>
            </div>
        </div>
    </form>
{% endmacro %}
