{% macro stats(stats) %}
    <div class="card" style="border: 3px solid #3498db;">
        <div class="card-header">Tracker stats</div>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Users
                <span class="badge bg-secondary">{{ stats.totalUsers }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Torrents
                <span class="badge bg-secondary">{{ stats.totalTorrents }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Torrents Active
                <span class="badge bg-secondary">{{ stats.activeTorrents }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Peers
                <span class="badge bg-secondary">{{ stats.peersAll }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Seeding
                <span class="badge bg-secondary">{{ stats.peersSeeders }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Leeching
                <span class="badge bg-secondary">{{ stats.peersLeechers }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Ratio
                <span class="badge bg-secondary">{{ stats.ratio }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Traffic
                <span class="badge bg-secondary">{{ stats.traffic }}</span>
            </li>
        </ul>
    </div>
{% endmacro %}
{% macro torrents(torrents) %}
<div class="card" style="border: 3px solid #2ecc71;">
    <div class="card-header">Torrents</div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
            <th>Size</th>
            <th><i class="bi bi-file-earmark-arrow-down-fill"></i></th>
            <th><i class="bi bi-arrow-up"></i></th>
            <th><i class="bi bi-arrow-down"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for torrent in torrents %}
        <tr>
            <th scope='row'>{{ loop.index }}</th>
            <td><a href="/torrent/{{ torrent.infoHash }}" >{{ torrent.name }}</a></td>
            <td>{{ torrent.date }}</td>
            <td>{{ torrent.length }}</td>
            <td>{{ torrent.downloads }}</td>
            <td>{{ torrent.seeders }}</td>
            <td>{{ torrent.leechers }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}
