{% macro profile(user) %}
<div class="row justify-content-around">
    <div class="card col-sm-3 cardinfo" style="width: 18rem; height: 375px;">
        <div class="cardimg">
            <img class="card-img-top" src="/img/4.png" alt="avatar">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ user.uname }} <span class="badge bg-danger">{{ user.rol }}</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ user.createdAt.toDateString().split(' ').slice(1).join(' ') }}</h6>
            <p class="card-text">Lorem ipsum.</p>
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item">1</li>
                <li class="list-group-item">2</li>
            </ul>
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item">3</li>
                <li class="list-group-item">4</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        {# if user admin #}
        <div class="card cardinvinfo">
            <div class="card-header">
                <span class="badge rounded-pill bg-primary">0</span>
                Invitations
                {# if admin #}
                <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#invite" style="float: right;">
                    Send Invitation
                </button>
            </div>
            <div class="">
                {# if invitations #}
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope='row'>1</th>
                            <td>lorem@ipsum</td>
                            <td>01/01/2021</td>
                            <td class='table-success'>Accepted</td>
                        </tr>
                        <tr>
                            <th scope='row'>1</th>
                            <td>lorem@ipsum</td>
                            <td>01/01/2021</td>
                            <td class='table-warning'>Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card cardloginfo">
            <div class="card-header">
                <span class="badge rounded-pill bg-warning text-dark">0</span>
                Login Attempts
            </div>
            <div class="">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>IP</th>
                        <th>Date</th>
                        <th>Access</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope='row'>1</th>
                            <td>0.0.0.0</td>
                            <td>01/01/2021</td>
                            <td class='table-success'>Permitted</td>
                        </tr>
                        <tr>
                            <th scope='row'>1</th>
                            <td>0.0.0.0</td>
                            <td>01/01/2021</td>
                            <td class='table-danger'>Denied</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="invite" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="inviteTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteTitle">Send invitation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">To:</label>
                    <input type="text" class="form-control" id="dest-email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">Message:</label>
                    <textarea rows="5" class="form-control" id="message-text" placeholder="Optional"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
