body {
    font-family: 'Quicksand' , serif;
}

nav {
    background-color: #191c24 !important;
}

#navbarNav {
    justify-content: space-between;
}

.search-input {
     width: 400px !important;
     background: #212529 !important;
     border: 1px solid #6d757d !important;
     color: #6d757d !important;
}
